$green: #86b782;
$blue: #1ebccd;
$orange: #f38a3e;
$violet: #b32059;
$pink: #ee0b77;

$grey-darkest: #bababa;
$grey-dark: #cacaca;
$grey: #dadada;
$grey-light: #eee;
$grey-lightest: #fafafa;
$grey-even-darker: #d7d7d7;

$white: #fff;
$black: #000;
$grey-text: rgb(51, 51, 51);

$grey-alpha-03: rgba(255, 255, 255, 0.3);

// Brand colors for use across theme.
$black: #000000; //onyx
$white: #ffffff; //white
$wave: #005e5d; //wave
$wave-light: #6b8591; //wave-light
$flamingo: #ffa3b5; //flamingo
$highlight-1: #ffa3b5; //highlight
$mist: #edf1f3; //mist (ededed)
$sapphire: #3C1053; //$sapphire
$jade: #005e5d; //jade
$turmeric: #0c2340; //turmeric
$subcolour-3: #0c2340; //amethyst
$subcolour-2: #3C1053;

// Other colors
$mist-s30: #71777d;
$mist-s20: #d5d9db;
$mist-s10: #e1e5e7;
$mist-light: #f7fafc;
$flamingo-s40: #0c2340;

$button-normal: $wave; //button color
$button-disabled: #909090; //disabled state for links and buttons

$link-normal: $black; //links color
$link-hover: #0c2340; //links hover state color
$error-text: #d14234;

// Additional link colors
$linkBlue: #1d70b8;
$linkBlueHover: #003078;
$linkVisited: #4c2c92;
$cloudy: #b1b4b6;
