@import 'colors';
@import 'layout';

@if $UIRefresh2022 {
  .quadrant-table {
    @include layout-margin(calc(12 / 12), $screen-small);
    @include layout-margin(calc(12 / 12), $screen-medium);
    @include layout-margin(calc(12 / 12), $screen-large);
    @include layout-margin(calc(4 / 12), $screen-xlarge);
    @include layout-margin(calc(5 / 12), $screen-xxlarge);
    @include layout-margin(calc(5 / 12), $screen-xxxlarge);

    &__ring-name {
      text-transform: none;
      margin: 0;
      scroll-margin-top: $subnavHeight;
    }

    @include media-query-xlarge {
      max-width: 40%;
      margin-top: 0 !important;
    }

    &__container {
      display: flex;
      justify-content: center;

      @include media-query-xlarge {
        display: block;
        justify-content: unset;
      }
    }
  }

  .blip-list {
    width: 100%;
    margin-bottom: 64px;

    &__item {
      width: 100%;

      &:hover,
      &.highlight {
        background-color: $mist;
      }

      &-container {
        &.expand {
          background-color: $mist;
        }

        &.expand &__name {
          &-arrow {
            rotate: -135deg;
            margin-top: 10px;
          }
        }

        &.expand &__description {
          display: block;
        }

        &__name {
          padding: 20px;
          width: 100%;
          border: none;
          background-color: transparent;
          border-bottom: 1px solid $mist-s20;
          text-align: unset;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          scroll-margin-top: $subnavHeight;

          & > * {
            pointer-events: none;
          }

          &-value {
            pointer-events: none;
            display: inline-block;
            width: 90%;
            font-size: 1rem;
            font-family: $baseFontFamily;

            @include media-query-large {
              font-size: 1.125rem;
            }
          }

          &-arrow {
            width: 8px;
            height: 8px;
            display: inline-flex;
            rotate: 45deg;
            border: 1px solid $flamingo;
            border-width: 0 2px 2px 0;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
          }
        }

        &__description {
          display: none;
          padding: 20px;
          font-size: 1rem;
          font-family: $baseFontFamily;
          line-height: 36px;

          @include media-query-large {
            font-size: 1.125rem;
          }

          & > *:not(ul):not(ol):not(h2) {
            font-family: inherit !important;
            font-size: inherit !important;
            line-height: inherit !important;
            margin: 0 !important;
          }

          h2 {
            font-size: 1.25rem !important;
            margin: 24px 0 0 0 !important;
            line-height: 1.25 !important;

            // style the first h2 differently to the rest
            &:first-of-type {
              margin: 0 0 16px 0 !important;
            }
          }


          ul {
            list-style-type: disc !important;
            list-style-position: outside !important;
            padding-left: 20px !important;
            margin: 12px 0 !important;

            li {
              list-style-type: disc !important;
              display: list-item !important;
              margin: 8px 0 !important;
              padding-left: 0px !important;
            }
          }

          ol {
            list-style-type: decimal !important;
            list-style-position: outside !important;
            padding-left: 40px !important;
            margin: 12px 0 !important;

            li {
              display: list-item !important;
              margin: 8px 0 !important;
              padding-left: 8px !important;
            }
          }

          // External link icons
          a[href^="http"]::after,
          a[href^="https://"]::after {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 4px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: middle;
          }

          // Don't show icon on feedback link
          .blip-feedback-link a::after {
            display: none !important;
          }

          .blip-feedback-link {
            margin-top: 20px !important;
            padding-top: 15px !important;
            border-top: 1px solid $cloudy !important;
            font-size: 0.875rem !important;
            line-height: 1.5 !important;

            a {
              color: $black !important;
              text-decoration: none !important;
              display: inline-flex !important;
              align-items: center !important;
              gap: 6px !important;

              &:hover {
                text-decoration: underline !important;
              }

              .github-icon {
                width: 16px !important;
                height: 16px !important;
                flex-shrink: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
